__pycache__/
.env
.DS_Store
.venv/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.metaflow/

*.pyc

test_1.py
.data/models/
.data/models/hpo/
.metaflow-tutorials/

__pycache__/
*.pyc
.metaflow/
data/models/
data/best_model.pkl
data/models/hpo/*.pkl
.ipynb_checkpoints/
.venv/


